<!--crowdsource.html-->

<!doctype html>
<html>

<head>
    <!--Use the title variable to set the title of the page-->
    <title>{{ .title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no user-scalable=no">
    <link rel="shortcut icon" href="/static/icons/favicon.ico"/>
    <link rel="apple-touch-icon" href="/static/icons/apple-touch-icon.png"/>

    <!--Use bootstrap to make the application look nice-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        :target:before {
            content: "";
            display: block;
            height: 75px;
            margin: -75px 0 0;
        }

        .table-sm td, .table-sm th {
            font-size: 14px;
            padding: .5rem
        }

        .card-header {
            font-size: 16px;
            padding: .55rem 0.8rem;
        }

        .card-body {
            padding: 0.4rem 0.8rem;
        }

        .card-footer {
            font-size: 12px;
            padding: .55rem 0.8rem;
        }

        .chart--container {
            min-height: 530px;
            width: 100%;
            height: 100%;
        }

        .zc-ref, .zc-menu, #india-map-tools {
            display: none !important;
        }

        #india-map-license-text {
            top: -15px !important;
        }

        .zc-html-mode td {
            font-size: 11px;
            padding: 4px;
            font-weight: 300;
        }

        @media only screen and (max-width: 600px) {
            .navbar .container {
                padding: 0;
            }

            .top-on-mobile {
                margin-top: 20px;
            }
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
    <script>
        function filterState() {
            var text = $("#state-filter").val();
            $(".state-card").each(function () {
                if ($(this).attr("state").toLowerCase().indexOf(text.toLowerCase()) < 0) {
                    $(this).css("display", "none")
                } else {
                    $(this).css("display", "")
                }
            })
        }

        function payupi() {
            window.location = "upi://pay?pa=pmcares@sbi";
        }

        function changeSource() {
            $(".active-source").addClass("btn-outline-primary");
            $(".active-source").removeClass("btn-primary");
            window.location = "/";
        }
    </script>
    <script data-ad-client="ca-pub-8842415115243274" async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>

<body>
<nav class="navbar fixed-top navbar-light bg-light" style="width: 100%;box-shadow: 0px 1px 7px 0px grey;">
    <div class="container">
        <a class="navbar-brand" href="/">
            <span class="badge badge-dark align-middle" style="font-size: 18px;">COVID-19</span>
            <span class="col-6 align-middle" style="font-size: 14px">{{.data.UpdateTime}}</span>
        </a>
        <div class="nav-item dropdown">
            <a class="navbar-toggler-icon" href="#" id="navbarDropdownMenuLink" role="button"
               data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false" style="padding-left: 0; padding-right: 0">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="left: auto; right: -10px">
                <a class="dropdown-item" href="#state-wise">State Wise Status</a>
                <a class="dropdown-item" href="#donate-pm-cares">Donate to PM-CARES</a>
            </div>
        </div>
    </div>
</nav>
<div style="height: 50px"></div>
<br>
<div class="container">
    <div class="btn-group w-100" role="group" aria-label="source switch">
        <button type="button" class="btn btn-sm btn-outline-primary" onclick="changeSource()">Ministry of
            Health
        </button>
        <button type="button" class="btn btn-sm btn-primary active-source">Crowd Sourced</button>
    </div>
</div>
<br>
<div class="container">
    <div style="font-size: 18px; margin-bottom: 10px">Pan India Status</div>
    <div class="row align-items-center">
        <div class="col-12 col-sm-6">
            <div class="table-responsive">
                <table class="table table-hover table-sm font-weight-light">
                    <tr class="table-warning">
                        <td>Total Cases</td>
                        <td>{{.data.Total}}
                            {{if ne .data.Delta.Confirmeddelta "0"}}
                                <span style="color: darkred; font-size: 11px"> [+{{.data.Delta.Confirmeddelta}}]</span>
                            {{ end }}
                        </td>
                    </tr>
                    <tr class="table-active">
                        <td>Active COVID 2019 cases</td>
                        <td>{{.data.Active}}</td>
                    </tr>
                    <tr class="table-success">
                        <td>Cured/discharged cases</td>
                        <td>{{.data.Cured}}
                            {{if ne .data.Delta.Recovereddelta "0"}}
                                <span style="color: darkgreen; font-size: 11px"> [+{{.data.Delta.Recovereddelta}}]</span>
                            {{ end }}
                        </td>
                    </tr>
                    <tr class="table-danger">
                        <td>Death</td>
                        <td>{{.data.Death}}
                            {{if ne .data.Delta.Deceaseddelta "0"}}
                                <span style="color: #484848; font-size: 11px"> [+{{.data.Delta.Deceaseddelta}}]</span>
                            {{ end }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-12 offset-sm-1 col-sm-4" style="padding: 0">
            <div id="india-map" class="chart--container"></div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row align-items-center">
        <div class="col-12 col-md-6">
            <canvas id="covid-delta" width="400" height="300"></canvas>
        </div>
        <div class="col-12 col-md-6 top-on-mobile">
            <canvas id="closed-cases" width="400" max-height="250"></canvas>
        </div>
    </div>
</div>
<br>
<div class="container" id="state-wise">
    <div class="row">
        <div class="col-6" style="font-size: 18px; padding-top: 5px">State wise Status
        </div>
        <div class="col-6 input-group input-group-sm">
            <input id="state-filter" class="form-control" placeholder="State Name" onkeyup="filterState()">
        </div>
    </div>
</div>
<div class="container">
    <div class="row" id="all-state" style="margin-top: 15px">
        {{ with .data.StateWise }}
            {{ range . }}
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="state-card card text-white bg-secondary mb-3 font-weight-light" state="{{.Name}}">
                        <div class="card-header font-weight-normal">
                            <span>{{.Name}}</span>
                            <span class="badge float-right font-weight-light"
                                  style="margin-top: 2px; background-color: #e23028">{{.Total}}</span>
                        </div>
                        <div class="card-body">
                            <div class="col-xs-12">
                                <table width="100%">
                                    <tr style="font-size: 14px">
                                        <td class="font-weight-normal">Active Cases</td>
                                        <td class="font-weight-normal float-right">{{.Active}}</td>
                                    </tr>
                                    <tr style="font-size: 14px">
                                        <td>Cured/Discharged</td>
                                        <td class="float-right">{{.LiveExit}}</td>
                                    </tr>
                                    <tr style="font-size: 14px">
                                        <td>Death</td>
                                        <td class="float-right">{{.Death}}</td>
                                    </tr>
                                </table>
                                <div style="margin-bottom: 5px">
                                    <a style="text-decoration: none" data-toggle="collapse" href="#district-{{.Id}}"
                                       role="button" aria-expanded="false" aria-controls="district-{{.Id}}">
                                        <span class="font-weight-light text-white" style="font-size: 13px;">District Wise</span>
                                        <span class="badge badge-info font-weight-bold">+</span>
                                    </a>
                                </div>
                                <div class="collapse" id="district-{{.Id}}">
                                    <div class="card card-body text-dark">
                                        <div class="row">
                                            {{ with .District}}
                                                {{ range . }}
                                                    <div class="col-6">
                                                        <div class="row">
                                                            <div class="col-8 font-weight-bold"
                                                                 style="font-size: 11px; padding-right: 0; padding-left: 13px">{{.Name}}</div>
                                                            <div class="col-4 font-weight-light"
                                                                 style="font-size: 11px; padding-right: 5px; padding-left: 3px">{{.Confirmed}}
                                                                {{if .Delta.Confirmed}}
                                                                    <span style="color: #e23028; font-size: 10px"> [+{{.Delta.Confirmed}}]</span>
                                                                {{ end }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {{ end }}
                                            {{ end }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-4" style="padding-right: 0">Closed: {{.Closed}}</div>
                                <div class="col-4" style="padding-right: 0">Cured: {{.LivePercent}}</div>
                                <div class="col-4" style="padding-right: 0">Fatal: {{.FatalPercent}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            {{ end }}
        {{end}}
    </div>
</div>
<br>
<div class="container" id="donate-pm-cares">
    <div style="font-size: 18px; margin-bottom: 10px">Donate - <a
                href="https://pmindia.gov.in" class="font-weight-light">pmindia.gov.in</a></div>
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
            <div class="card border-success mb-3" style="max-width: 24rem;">
                <div class="card-header">NEFT / RTGS / UPI</div>
                <div class="card-body text-success">
                    <div class="row">
                        <div class="col-6 font-weight-light">Name of Account</div>
                        <div class="col-6 font-weight-light">PM CARES</div>
                        <div class="col-6 font-weight-light">Account Number</div>
                        <div class="col-6 font-weight-light">2121PM20202</div>
                        <div class="col-6 font-weight-light">IFSC Code</div>
                        <div class="col-6 font-weight-light">SBIN0000691</div>
                        <div class="col-6 font-weight-light">SWIFT Code</div>
                        <div class="col-6 font-weight-light">SBININBB104</div>
                    </div>
                </div>
                <div class="card-footer text-success">
                    <div class="row">
                        <div class="col-6 font-weight-light">UPI click to pay</div>
                        <div class="col-6">
                            <button type="button" class="btn btn-success btn-sm" onclick="payupi()">pmcares@sbi
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="container" id="imp-link">
    <div style="font-size: 18px; margin-bottom: 10px">Important Links</div>
    <div class="row">
        <div class="col-1" style="max-width: 15px">
                    <span style="float: left">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII="
                             alt="link">
                    </span>
        </div>
        <div class="col-11 p-0">
            <a href="{{.data.HelpLine}}">
                <span style="word-wrap: break-word;">COVID-19 Helpline</span>
            </a>
        </div>
    </div>
    <div class="row">
        <div class="col-1" style="max-width: 15px">
                    <span style="float: left">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII="
                             alt="link">
                    </span>
        </div>
        <div class="col-11 p-0">
            <a href="{{.data.Faq}}">
                <span style="word-wrap: break-word;">Frequently Asked Question</span>
            </a>
        </div>
    </div>
</div>
<br>
<div class="container">
    <div style="font-size: 18px; margin-bottom: 10px; margin-top: 15px">Other
        Links
    </div>
    {{ with .data.Links }}
        {{ range . }}
            <div class="row">
                <div class="col-1" style="max-width: 15px">
                    <span style="float: left">
                        <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII="
                             alt="link">
                    </span>
                </div>
                <div class="col-11 p-0">
                    <a href="{{.}}">
                        <span style="word-wrap: break-word;">{{.}}</span>
                    </a>
                </div>
            </div>
        {{ end }}
    {{end}}
</div>
<br>
<div class="container">
    <div style="font-size: 18px; margin-bottom: 10px; margin-top: 15px">Ministry
        of
        Health
    </div>
    <div class="row">
        <div class="col-12">
            <a class="navbar-brand float-left" href="{{.data.Facebook}}"
               style="cursor: pointer; padding-top: 3px;">
                <img style="height: 20px;"
                     src="https://68ef2f69c7787d4078ac-7864ae55ba174c40683f10ab811d9167.ssl.cf1.rackcdn.com/facebook-icon_square_24x24.png"
                     alt="FB">
            </a>
            <a class="navbar-brand float-left" href="{{.data.Twitter}}"
               style="cursor: pointer; padding-top: 3px;">
                <img style="height: 20px;"
                     src="https://68ef2f69c7787d4078ac-7864ae55ba174c40683f10ab811d9167.ssl.cf1.rackcdn.com/twitter-icon_square_24x24.png"
                     alt="Twitter">
            </a>
            <a class="navbar-brand float-left" href="{{.data.Youtube}}"
               style="cursor: pointer; padding-top: 3px;">
                <img style="height: 20px;"
                     src="https://68ef2f69c7787d4078ac-7864ae55ba174c40683f10ab811d9167.ssl.cf1.rackcdn.com/youtube-icon_square_24x24.png"
                     alt="YT">
            </a>
        </div>
    </div>
</div>
<div style="height: 50px"></div>
<div style="position: fixed;background: #f8f9fa; bottom: 0;z-index: 100;width: 100%;box-shadow: 0 1px 7px 0 grey;">
    <div class="container">
        <div class="row">
            <div class="col-8" style="padding: 10px 0 0 15px;font-size: 12px;color: gray;">
                © 2020-2021 Saurav Singh
            </div>
            <div class="col-4" style="padding-right: 0px">
                <a class="navbar-brand float-right" href="https://www.facebook.com/saurav431"
                   style="cursor: pointer; padding-top: 0">
                    <img style="height: 20px;"
                         src="https://68ef2f69c7787d4078ac-7864ae55ba174c40683f10ab811d9167.ssl.cf1.rackcdn.com/facebook-icon_square_24x24.png"
                         alt="FB">
                </a>
                <a class="navbar-brand float-right" href="https://www.linkedin.com/in/saurav-singh-25317625/"
                   style="cursor: pointer; padding-top: 0">
                    <img style="height: 20px;"
                         src="https://68ef2f69c7787d4078ac-7864ae55ba174c40683f10ab811d9167.ssl.cf1.rackcdn.com/linkedin-icon_square_24x24.png"
                         alt="Linkedin">
                </a>
            </div>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
    var ctx = document.getElementById('closed-cases').getContext('2d');
    var closedCases = new Chart(ctx, {
        type: 'horizontalBar',
        data: {
            labels: ['Cured', 'Fatal'],
            datasets: [{
                label: '%',
                data: [{{.data.LivePercent}}, {{.data.FatalPercent}}],
                backgroundColor: [
                    'rgba(3, 183, 44, 0.2)',
                    'rgba(255, 99, 132, 0.2)'
                ],
                borderColor: [
                    'rgba(3, 183, 44, 1)',
                    'rgba(255, 99, 132, 1)'
                ],
                borderWidth: 1,
                barThickness: 30
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    ticks: {
                        beginAtZero: true,
                        stepSize: 10
                    }
                }],
                yAxes: [{
                    display: true,
                    ticks: {
                        maxRotation: 45,
                        minRotation: 45
                    }
                }]
            },
            layout: {
                padding: {
                    left: -11
                }
            },
            title: {
                display: true,
                text: 'Closed Cases - ' + {{.data.Closed}},
                fontSize: 14,
                fontColor: 'black',
                fontStyle: "normal"
            },
            legend: {
                display: false
            }
        }
    });

    var covidDeltaCtx = document.getElementById('covid-delta').getContext('2d');
    var covidDelta = new Chart(covidDeltaCtx, {
        type: 'line',
        data: {
            labels: {{.data.SeriesDelta.Dates}},
            datasets: [{
                label: 'Confirmed',
                backgroundColor: "#007bff",
                borderColor: "#007bff",
                borderWidth: 2,
                pointRadius: 1.5,
                pointHitRadius: 2.5,
                data: {{.data.SeriesDelta.Confirmed}},
                fill: false
            }, {
                label: 'Death',
                backgroundColor: "#ff073a",
                borderColor: "#ff073a",
                borderWidth: 2,
                pointRadius: 1.5,
                pointHitRadius: 2.5,
                data: {{.data.SeriesDelta.Death}},
                fill: false
            }, {
                label: 'Cured',
                backgroundColor: "#28a745",
                borderColor: "#28a745",
                borderWidth: 2,
                pointRadius: 1.5,
                pointHitRadius: 2.5,
                data: {{.data.SeriesDelta.Cured}},
                fill: false
            }]
        },
        options: {
            responsive: true,
            title: {
                display: true,
                text: 'Daily Updates',
                fontSize: 14,
                fontColor: 'black',
                fontStyle: "normal"
            },
            tooltips: {
                mode: 'index',
                intersect: false
            },
            hover: {
                mode: 'nearest',
                intersect: true
            },
            scales: {
                xAxes: [{
                    display: true,
                    ticks: {
                        autoSkip: true,
                        maxTicksLimit: 6
                    }
                }],
                yAxes: [{
                    display: true,
                    ticks: {
                        beginAtZero: true,
                        autoSkip: true,
                        maxTicksLimit: 10
                    }
                }]
            },
            legend: {
                labels: {
                    boxWidth: 25,
                    fontSize: 11
                }
            }
        }
    });

    var chartConfig = {
        shapes: [
            {
                type: 'zingchart.maps',
                options: {
                    name: 'ind',
                    panning: false, // turn of zooming. Doesn't work with bounding box
                    zooming: false,
                    scrolling: false,
                    style: {
                        backgroundColor: "#fff",
                        tooltip: {
                            borderColor: '#000',
                            borderWidth: '1px',
                            fontSize: '12px'
                        },
                        borderColor: '#000',
                        borderWidth: '1px',
                        controls: {
                            visible: false // turn of zooming. Doesn't work with bounding box
                        },
                        hoverState: {
                            alpha: .28
                        },
                        items: {
                            {{ with .data.StateWise }}
                            {{ range . }}
                            "{{ .Code }}": {
                                tooltip: {
                                    text: "<table style=\"width: 110px\" class=\"table table-sm\"><tr><td colspan=\"2\" style=\"text-align: center; font-weight: bold\">{{.Name}}</td></tr><tr class=\"table-warning\"><td>Total</td><td>{{.Total}}</td></tr><tr class=\"table-active\"><td>Active</td><td>{{.Active}}</td></tr><tr class=\"table-success\"><td>Cured</td><td>{{.LiveExit}}</td></tr><tr class=\"table-danger\"><td>Death</td><td>{{.Death}}</td></tr></table>",
                                    'html-mode': true,
                                    backgroundColor: 'white',
                                    borderWidth: '0px',
                                    padding: '2px'
                                },
                                backgroundColor: {{.Color}}
                            },
                            {{ end }}
                            {{ end }}
                        },
                        label: { // text displaying. Like valueBox
                            fontSize: '12px',
                            visible: false
                        }
                    },
                    zooming: true // turn of zooming. Doesn't work with bounding box,
                }
            },
            {
                type: 'rectangle',
                height: '10px',
                width: '30px',
                id: '1',
                backgroundColor: '#174ea6',
                cursor: 'pointer',
                label: {
                    text: '300+',
                    fontColor: '#000',
                    fontSize: '9px',
                    offsetX: '-30px',
                    offsetY: '1px'
                },
                size: '10px',
                x: '90%',
                y: '5%'
            },
            {
                type: 'rectangle',
                height: '10px',
                width: '30px',
                id: '2',
                backgroundColor: '#2558a9',
                cursor: 'pointer',
                label: {
                    text: '250-299',
                    fontColor: '#000',
                    fontSize: '9px',
                    offsetX: '-40px',
                    offsetY: '1px'
                },
                size: '10px',
                x: '90%',
                y: '8%'
            },
            {
                type: 'rectangle',
                height: '10px',
                width: '30px',
                id: '3',
                backgroundColor: '#406cb1',
                cursor: 'pointer',
                label: {
                    text: '200-249',
                    fontColor: '#000',
                    fontSize: '9px',
                    offsetX: '-40px',
                    offsetY: '1px'
                },
                size: '10px',
                x: '90%',
                y: '11%'
            },
            {
                type: 'rectangle',
                height: '10px',
                width: '30px',
                id: '4',
                backgroundColor: '#5c7bad',
                cursor: 'pointer',
                label: {
                    text: '150-199',
                    fontColor: '#000',
                    fontSize: '9px',
                    offsetX: '-40px',
                    offsetY: '1px'
                },
                size: '10px',
                x: '90%',
                y: '14%'
            },
            {
                type: 'rectangle',
                height: '10px',
                width: '30px',
                id: '5',
                backgroundColor: '#8ba2c7',
                cursor: 'pointer',
                label: {
                    text: '100-149',
                    fontColor: '#000',
                    fontSize: '9px',
                    offsetX: '-40px',
                    offsetY: '1px'
                },
                size: '10px',
                x: '90%',
                y: '17%'
            },
            {
                type: 'rectangle',
                height: '10px',
                width: '30px',
                id: '6',
                backgroundColor: '#bcc9de',
                cursor: 'pointer',
                label: {
                    text: '50-99',
                    fontColor: '#000',
                    fontSize: '9px',
                    offsetX: '-35px',
                    offsetY: '1px'
                },
                size: '10px',
                x: '90%',
                y: '20%'
            },
            {
                type: 'rectangle',
                height: '10px',
                width: '30px',
                id: '7',
                backgroundColor: '#dee2ea',
                cursor: 'pointer',
                label: {
                    text: '0-49',
                    fontColor: '#000',
                    fontSize: '9px',
                    offsetX: '-32px',
                    offsetY: '1px'
                },
                size: '10px',
                x: '90%',
                y: '23%'
            }
        ]
    };
    zingchart.loadModules('maps,maps-ind');
    zingchart.render({
        id: 'india-map',
        data: chartConfig,
        height: '100%',
        width: '100%',
    });
</script>
</body>
</html>