<!--crowdsource.html-->

<!doctype html>
<html>
{{template "baseheader.html" .}}
<body>
<nav class="navbar fixed-top navbar-light bg-light" style="width: 100%;box-shadow: 0px 1px 7px 0px grey;">
    <div class="container">
        <a class="navbar-brand" href="/">
            <span class="badge badge-dark align-middle" style="font-size: 18px;">COVID-19</span>
            <span class="col-6 align-middle" style="font-size: 14px">{{.data.UpdateTime}}</span>
        </a>
        <div class="nav-item dropdown">
            <a class="navbar-toggler-icon" href="#" id="navbarDropdownMenuLink" role="button"
               data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false" style="padding-left: 0; padding-right: 0">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="left: auto; right: -10px">
                <a class="dropdown-item" href="#state-wise">State Wise Status</a>
                <a class="dropdown-item" href="#donate-pm-cares">Donate to PM-CARES</a>
            </div>
        </div>
    </div>
</nav>
<div style="height: 50px"></div>
<br>
<div class="container">
    <div class="btn-group w-100" role="group" aria-label="source switch">
        <button type="button" class="btn btn-sm btn-primary active-source">Crowd Sourced</button>
        <button type="button" class="btn btn-sm btn-outline-primary" onclick="changeSource()">Ministry of
            Health
        </button>
    </div>
</div>
<br>
<div class="container">
    <div style="font-size: 18px; margin-bottom: 10px">Pan India Status</div>
    <div class="row align-items-center">
        <div class="col-12 col-sm-6">
            <div class="table-responsive">
                <table class="table table-hover table-sm font-weight-light">
                    <tr class="table-warning">
                        <td>Total Cases</td>
                        <td>{{.data.Total}}
                            {{if ne .data.Delta.Confirmed "0"}}
                                <span style="color: darkred; font-size: 11px"> [+{{.data.Delta.Confirmed}}]</span>
                            {{ end }}
                        </td>
                    </tr>
                    <tr class="table-active">
                        <td>Active COVID 2019 cases</td>
                        <td>{{.data.Active}}</td>
                    </tr>
                    <tr class="table-success">
                        <td>Cured/discharged cases</td>
                        <td>{{.data.Cured}}
                            {{if ne .data.Delta.Recovered "0"}}
                                <span style="color: darkgreen; font-size: 11px"> [+{{.data.Delta.Recovered}}]</span>
                            {{ end }}
                        </td>
                    </tr>
                    <tr class="table-danger">
                        <td>Death</td>
                        <td>{{.data.Death}}
                            {{if ne .data.Delta.Deaths "0"}}
                                <span style="color: #484848; font-size: 11px"> [+{{.data.Delta.Deaths}}]</span>
                            {{ end }}
                        </td>
                    </tr>
                    <tr class="table-info">
                        <td>Samples Tested</td>
                        <td>{{.data.SampleTested}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-12 offset-sm-1 col-sm-4" style="padding: 0">
            <div id="india-map" class="chart--container"></div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row align-items-center">
        <div class="col-12 col-md-4">
            <canvas id="covid-delta" width="400" height="300"></canvas>
        </div>
        <div class="col-12 col-md-4 top-on-mobile">
            <canvas id="covid-test" width="400" height="270"></canvas>
        </div>
        <div class="col-12 col-md-4 top-on-mobile">
            <canvas id="closed-cases" width="400" height="250"></canvas>
        </div>
    </div>
</div>
<br>
<div class="container" id="state-wise">
    <div class="row">
        <div class="col-6" style="font-size: 18px; padding-top: 5px">State wise Status
        </div>
        <div class="col-6 input-group input-group-sm">
            <input id="state-filter" class="form-control" placeholder="State Name" onkeyup="filterState()">
        </div>
    </div>
</div>
<div class="container">
    <div class="row" id="all-state" style="margin-top: 15px">
        {{ with .data.StateWise }}
            {{ range . }}
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="state-card card text-white bg-secondary mb-3 font-weight-light" state="{{.Name}}">
                        <div class="card-header font-weight-normal">
                            <span>{{.Name}}</span>
                            <span class="badge float-right font-weight-light"
                                  style="margin-top: 2px; background-color: #e23028">{{.Total}}</span>
                            {{if ne .Delta.Confirmed "0"}}
                                <span class="float-right align-middle"
                                      style="color: #fff; font-size: 10px; padding: 3px 5px">[ +{{.Delta.Confirmed}} ]</span>
                            {{ end }}
                        </div>
                        <div class="card-body">
                            <div class="col-xs-12">
                                <table width="100%">
                                    <tr style="font-size: 14px">
                                        <td class="font-weight-normal">Active Cases</td>
                                        <td class="font-weight-normal float-right">{{.Active}}</td>
                                    </tr>
                                    <tr style="font-size: 14px">
                                        <td>Cured/Discharged</td>
                                        <td class="float-right">
                                            {{if ne .Delta.Recovered "0"}}
                                                <span class="align-middle"
                                                      style="color: #00ff00; font-size: 10px;">[ +{{.Delta.Recovered}} ]</span>
                                            {{ end }}
                                            {{.LiveExit}}</td>
                                    </tr>
                                    <tr style="font-size: 14px">
                                        <td>Death</td>
                                        <td class="float-right">
                                            {{if ne .Delta.Deaths "0"}}
                                                <span class="align-middle"
                                                      style="color: #fbad75; font-size: 10px;">[ +{{.Delta.Deaths}} ]</span>
                                            {{ end }}
                                            {{.Death}}</td>
                                    </tr>
                                </table>
                                <div style="margin-bottom: 5px">
                                    <a style="text-decoration: none" data-toggle="collapse" href="#district-{{.Id}}"
                                       role="button" aria-expanded="false" aria-controls="district-{{.Id}}">
                                        <span class="font-weight-light text-white" style="font-size: 13px;">District Wise</span>
                                        <span class="badge badge-info font-weight-bold">+</span>
                                    </a>
                                </div>
                                <div class="collapse" id="district-{{.Id}}">
                                    <div class="card card-body text-dark">
                                        <div class="row">
                                            {{ with .District}}
                                                {{ range . }}
                                                    <div class="col-6">
                                                        <div class="row">
                                                            <div class="col-8 font-weight-bold"
                                                                 style="font-size: 11px; padding-right: 0; padding-left: 13px">{{.Name}}</div>
                                                            <div class="col-4 font-weight-light"
                                                                 style="font-size: 11px; padding-right: 5px; padding-left: 3px">{{.Confirmed}}
                                                                {{if ne .Delta.Confirmed "0"}}
                                                                    <span style="color: #e23028; font-size: 10px"> [+{{.Delta.Confirmed}}]</span>
                                                                {{ end }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                {{ end }}
                                            {{ end }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-4" style="padding-right: 0">Closed: {{.Closed}}</div>
                                <div class="col-4" style="padding-right: 0">Cured: {{.LivePercent}}</div>
                                <div class="col-4" style="padding-right: 0">Fatal: {{.FatalPercent}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            {{ end }}
        {{end}}
    </div>
</div>
{{template "commonfooter.html" .}}
{{template "closedcase.html" .}}
{{template "map.html" .}}
{{template "testanddelta.html" .}}
</body>
</html>