<!--index.html-->

<!doctype html>
<html>

<head>
    <!--Use the title variable to set the title of the page-->
    <title>{{ .title }}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no user-scalable=no">

    <!--Use bootstrap to make the application look nice-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style>
        :target:before {
            content: "";
            display: block;
            height: 75px;
            margin: -75px 0 0;
        }
        .table-sm td, .table-sm th {
            font-size: 14px;
            padding: .5rem
        }
        .card-header {
            font-size: 16px;
            padding: .55rem 0.8rem;
        }
        .card-body {
            padding: 0.3rem 0.8rem;
        }
        .card-footer {
            font-size: 12px;
            padding: .55rem 0.8rem;
        }
    </style>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <script>
        function filterState() {
            var text = $("#state-filter").val();
            $(".state-card").each(function () {
                if ($(this).attr("state").toLowerCase().indexOf(text.toLowerCase()) < 0) {
                    $(this).css("display", "none")
                } else {
                    $(this).css("display", "")
                }
            })
        }

        function payupi() {
            window.location = "upi://pay?pa=pmcares@sbi";
        }

        function changeSource() {
            $(".active-source").addClass("btn-outline-primary")
            $(".active-source").removeClass("btn-primary")
            window.location = "/crowdsourced"
        }
    </script>
    <script data-ad-client="ca-pub-8842415115243274" async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
</head>

<body>
<nav class="navbar fixed-top navbar-light bg-light" style="width: 100%;box-shadow: 0px 1px 7px 0px grey;">
    <a class="navbar-brand" href="/">
        <span class="badge badge-dark" style="font-size: 18px;">COVID-19</span>
        <span class="col-6" style="font-size: 14px">{{.data.UpdateTime}}</span>
    </a>
    <div class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown"
           aria-haspopup="true" aria-expanded="false" style="padding-left: 0; padding-right: 0">
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="left: auto; right: -10px">
            <a class="dropdown-item" href="#state-wise">State Wise Status</a>
            <a class="dropdown-item" href="#donate-pm-cares">Donate to PM-CARES</a>
            <a class="dropdown-item" href="#imp-link">District Wise Cases</a>
        </div>
    </div>
</nav>
<div style="height: 50px"></div>
<br>
<div class="col-12">
    <div class="btn-group w-100" role="group" aria-label="source switch">
        <button type="button" class="btn btn-sm btn-primary active-source">Ministry of Health</button>
        <button type="button" class="btn btn-sm btn-outline-primary" onclick="changeSource()">Crowd Sourced</button>
    </div>
</div>
<br>
<div class="col-xs-12">
    <div class="col-12" style="font-size: 18px; margin-bottom: 10px">Pan India Status</div>
    <div class="col-12 container">
        <div class="row">
            <div class="col-12 col-sm-6 col-md-7 col-lg-8">
                <div class="table-responsive">
                    <table class="table table-hover table-sm font-weight-light">
                        <tr class="table-warning">
                            <td>Total Cases</td>
                            <td>{{.data.Total}}</td>
                        </tr>
                        <tr class="table-active">
                            <td>Active COVID 2019 cases</td>
                            <td>{{.data.Active}}</td>
                        </tr>
                        <tr class="table-success">
                            <td>Cured/discharged cases</td>
                            <td>{{.data.Cured}}</td>
                        </tr>
                        <tr class="table-danger">
                            <td>Death</td>
                            <td>{{.data.Death}}</td>
                        </tr>
                        <tr class="table-info">
                            <td>Migrated COVID-19 Patient</td>
                            <td>{{.data.Migrated}}</td>
                        </tr>
                    </table>
                </div>
                <input id="fatal-percent" value="{{.data.FatalPercent}}" style="display: none">
                <input id="live-percent" value="{{.data.LivePercent}}" style="display: none">
                <input id="closed-cases" value="{{.data.Closed}}" style="display: none">
            </div>
            <div class="col-12 col-sm-6 col-md-5 col-lg-4">
                <canvas id="myChart" width="400" height="250"></canvas>
            </div>
        </div>
    </div>
</div>
<br>
<div class="col-12" id="state-wise">
    <div class="row">
        <div class="col-6" style="font-size: 18px; padding-top: 5px">State wise Status
        </div>
        <div class="col-6 input-group input-group-sm">
            <input id="state-filter" class="form-control" placeholder="State Name" onkeyup="filterState()">
        </div>
    </div>
</div>

<div class="container">
    <div class="row" id="all-state" style="margin-top: 15px">
        {{ with .data.StateWise }}
            {{ range . }}
                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                    <div class="state-card card text-white bg-secondary mb-3 font-weight-light" state="{{.Name}}"
                         style="max-width: 24rem;">
                        <div class="card-header font-weight-normal">
                            <span>{{.Name}}</span>
                            <span class="badge badge-danger float-right font-weight-light" style="margin-top: 2px">{{.Total}}</span>
                        </div>
                        <div class="card-body">
                            <div class="col-xs-12">
                                <table width="100%">
                                    <tr style="font-size: 14px">
                                        <td class="font-weight-normal">Active Cases</td>
                                        <td class="font-weight-normal float-right">{{.Active}}</td>
                                    </tr>
                                    <tr style="font-size: 14px">
                                        <td>Cured/Discharged</td>
                                        <td class="float-right">{{.LiveExit}}</td>
                                    </tr>
                                    <tr style="font-size: 14px">
                                        <td>Death</td>
                                        <td class="float-right">{{.Death}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-4" style="padding-right: 0">Closed: {{.Closed}}</div>
                                <div class="col-4" style="padding-right: 0">Cured: {{.LivePercent}}</div>
                                <div class="col-4" style="padding-right: 0">Fatal: {{.FatalPercent}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            {{ end }}
        {{end}}
    </div>
</div>
<br>
<div class="col-xs-12" id="donate-pm-cares">
    <div class="col-12" style="font-size: 18px; font-weight: bold; margin-bottom: 10px">Donate - <a
                href="https://pmindia.gov.in" class="font-weight-light">pmindia.gov.in</a></div>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-4">
                <div class="card border-success mb-3" style="max-width: 24rem;">
                    <div class="card-header">NEFT / RTGS / UPI</div>
                    <div class="card-body text-success">
                        <div class="row">
                            <div class="col-6 font-weight-light">Name of Account</div>
                            <div class="col-6 font-weight-light">PM CARES</div>
                            <div class="col-6 font-weight-light">Account Number</div>
                            <div class="col-6 font-weight-light">2121PM20202</div>
                            <div class="col-6 font-weight-light">IFSC Code</div>
                            <div class="col-6 font-weight-light">SBIN0000691</div>
                            <div class="col-6 font-weight-light">SWIFT Code</div>
                            <div class="col-6 font-weight-light">SBININBB104</div>
                        </div>
                    </div>
                    <div class="card-footer text-success">
                        <div class="row">
                            <div class="col-6 font-weight-light">UPI click to pay</div>
                            <div class="col-6">
                                <button type="button" class="btn btn-success btn-sm" onclick="payupi()">pmcares@sbi
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<br>
<div class="col-xs-12" id="imp-link">
    <div class="col-12" style="font-size: 18px; font-weight: bold; margin-bottom: 10px">Important Links</div>
    <div class="col-12">
        <a href="{{.data.DistrictWise}}">
            <span style="margin-right: 5px" class="float-left"><img
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII="></span>
            <span style="word-wrap: break-word;">District Wise Cases</span>
        </a>
    </div>
    <div class="col-12">
        <a href="{{.data.HelpLine}}">
            <span style="margin-right: 5px" class="float-left"><img
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII="></span>
            <span style="word-wrap: break-word;">COVID-19 Helpline</span>
        </a>
    </div>
    <div class="col-12">
        <a href="{{.data.Faq}}">
            <span style="margin-right: 5px" class="float-left"><img
                        src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII="></span>
            <span style="word-wrap: break-word;">Frequently Asked Question</span>
        </a>
    </div>
</div>
<br>
<div class="col-xs-12">
    <div class="col-12" style="font-size: 18px; font-weight: bold; margin-bottom: 10px; margin-top: 15px">Other Links
    </div>
    {{ with .data.Links }}
        {{ range . }}
            <div class="col-12">
                <a href="{{.}}">
                    <span style="margin-right: 5px" class="float-left"><img
                                src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAVklEQVR4Xn3PgQkAMQhDUXfqTu7kTtkpd5RA8AInfArtQ2iRXFWT2QedAfttj2FsPIOE1eCOlEuoWWjgzYaB/IkeGOrxXhqB+uA9Bfcm0lAZuh+YIeAD+cAqSz4kCMUAAAAASUVORK5CYII="></span>
                    <span style="word-wrap: break-word;">{{.}}</span></a></div>
        {{ end }}
    {{end}}
</div>
<br>
<div class="col-xs-12">
    <div class="col-12" style="font-size: 18px; font-weight: bold; margin-bottom: 10px; margin-top: 15px">Ministry of
        Health
    </div>
    <div class="col-12">
        <div class="row">
            <div class="col-1">
                <a class="navbar-brand float-left" href="{{.data.Facebook}}"
                   style="cursor: pointer; padding-top: 3px;">
                    <img style="height: 20px;"
                         src="https://68ef2f69c7787d4078ac-7864ae55ba174c40683f10ab811d9167.ssl.cf1.rackcdn.com/facebook-icon_square_24x24.png"
                         alt="FB">
                </a>
            </div>
            <div class="col-1">
                <a class="navbar-brand float-left" href="{{.data.Twitter}}"
                   style="cursor: pointer; padding-top: 3px;">
                    <img style="height: 20px;"
                         src="https://68ef2f69c7787d4078ac-7864ae55ba174c40683f10ab811d9167.ssl.cf1.rackcdn.com/twitter-icon_square_24x24.png"
                         alt="Twitter">
                </a>
            </div>
            <div class="col-1">
                <a class="navbar-brand float-left" href="{{.data.Youtube}}"
                   style="cursor: pointer; padding-top: 3px;">
                    <img style="height: 20px;"
                         src="https://68ef2f69c7787d4078ac-7864ae55ba174c40683f10ab811d9167.ssl.cf1.rackcdn.com/youtube-icon_square_24x24.png"
                         alt="YT">
                </a>
            </div>
        </div>
    </div>
</div>
<div style="height: 50px"></div>
<div style="position: fixed;bottom: 0;z-index: 100;width: 100%;box-shadow: 0px 1px 7px 0px grey;">
    <div class="row" style="background: #f8f9fa;">
        <div class="col-10" style="padding: 10px 0 0 32px;font-size: 12px;color: gray;">
            © 2020-2021 Saurav Singh
        </div>
        <div class="col-1">
            <a class="navbar-brand float-right" href="https://www.facebook.com/saurav431"
               style="cursor: pointer; padding-top: 3px;">
                <img style="height: 20px;"
                     src="https://68ef2f69c7787d4078ac-7864ae55ba174c40683f10ab811d9167.ssl.cf1.rackcdn.com/facebook-icon_square_24x24.png"
                     alt="FB">
            </a>
        </div>
        <div class="col-1">
            <a class="navbar-brand float-right" href="https://www.linkedin.com/in/saurav-singh-25317625/"
               style="cursor: pointer; padding-top: 3px;">
                <img style="height: 20px;"
                     src="https://68ef2f69c7787d4078ac-7864ae55ba174c40683f10ab811d9167.ssl.cf1.rackcdn.com/linkedin-icon_square_24x24.png"
                     alt="Linkedin">
            </a>
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
<script>
    var ctx = document.getElementById('myChart').getContext('2d');
    var myChart = new Chart(ctx, {
        type: 'horizontalBar',
        data: {
            labels: ['Cured', 'Fatal'],
            datasets: [{
                label: '%',
                data: [$("#live-percent").val(), $("#fatal-percent").val()],
                backgroundColor: [
                    'rgba(3, 183, 44, 0.2)',
                    'rgba(255, 99, 132, 0.2)'
                ],
                borderColor: [
                    'rgba(3, 183, 44, 1)',
                    'rgba(255, 99, 132, 1)'
                ],
                borderWidth: 1,
                barThickness: 30
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    ticks: {
                        beginAtZero: true,
                        stepSize: 10
                    }
                }],
                yAxes: [{
                    ticks: {
                        beginAtZero: true,
                        maxRotation: 90,
                        minRotation: 90
                    }
                }]
            },
            layout: {
                padding: {
                    left: -30
                }
            },
            title: {
                display: true,
                text: 'Closed Cases - ' + $("#closed-cases").val(),
                fontSize: 14,
                fontColor: 'black',
                fontStyle:  "normal"
            }
        }
    });
</script>
</body>
</html>