<script>
    var ctx = document.getElementById('closed-cases').getContext('2d');
    new Chart(ctx, {
        type: 'horizontalBar',
        data: {
            labels: ['Cured', 'Fatal'],
            datasets: [{
                label: '%',
                data: [{{.data.LivePercent}}, {{.data.FatalPercent}}],
                backgroundColor: [
                    'rgba(3, 183, 44, 0.2)',
                    'rgba(255, 99, 132, 0.2)'
                ],
                borderColor: [
                    'rgba(3, 183, 44, 1)',
                    'rgba(255, 99, 132, 1)'
                ],
                borderWidth: 1,
                barThickness: 30
            }]
        },
        options: {
            scales: {
                xAxes: [{
                    ticks: {
                        beginAtZero: true,
                        stepSize: 10
                    }
                }],
                yAxes: [{
                    display: true,
                    ticks: {
                        maxRotation: 45,
                        minRotation: 45
                    }
                }]
            },
            layout: {
                padding: {
                    left: -11
                }
            },
            title: {
                display: true,
                text: 'Closed Cases - ' + {{.data.Closed}},
                fontSize: 14,
                fontColor: 'black',
                fontStyle: "normal"
            },
            legend: {
                display: false
            }
        }
    });
</script>