<script>
    var chartConfig = {
        shapes: [
            {
                type: 'zingchart.maps',
                options: {
                    name: 'ind',
                    panning: false, // turn of zooming. Doesn't work with bounding box
                    zooming: false,
                    scrolling: false,
                    style: {
                        backgroundColor: "#80c589",
                        tooltip: {
                            borderColor: '#000',
                            borderWidth: '1px',
                            fontSize: '10px',
                            fontWeight: 'bold'
                        },
                        borderColor: '#fff',
                        borderWidth: '1px',
                        controls: {
                            visible: false // turn of zooming. Doesn't work with bounding box
                        },
                        hoverState: {
                            alpha: .28
                        },
                        items: {
                            {{ with .data.StateWise }}
                            {{ range . }}
                            "{{ .Code }}": {
                                tooltip: {
                                    text: "<table style=\"width: 110px\" class=\"table table-sm\"><tr><td colspan=\"2\" style=\"text-align: center; font-weight: bold\">{{.Name}}</td></tr><tr class=\"table-warning\"><td>Total</td><td>{{.Total}}</td></tr><tr class=\"table-active\"><td>Active</td><td>{{.Active}}</td></tr><tr class=\"table-success\"><td>Cured</td><td>{{.LiveExit}}</td></tr><tr class=\"table-danger\"><td>Death</td><td>{{.Death}}</td></tr></table>",
                                    'html-mode': true,
                                    backgroundColor: 'white',
                                    borderWidth: '0px',
                                    padding: '2px'
                                },
                                backgroundColor: {{.Color}}
                            },
                            {{ end }}
                            {{ end }}
                        },
                        label: { // text displaying. Like valueBox
                            fontSize: '12px',
                            visible: false
                        }
                    },
                    zooming: true // turn of zooming. Doesn't work with bounding box,
                }
            },
            {
                type: 'rectangle',
                height: '10px',
                width: '30px',
                id: '1',
                backgroundColor: '#8b0000',
                cursor: 'pointer',
                label: {
                    text: '12000+',
                    fontColor: '#000',
                    fontSize: '9px',
                    offsetX: '-33px',
                    offsetY: '1px'
                },
                size: '10px',
                x: '90%',
                y: '3%'
            },
            {
                type: 'rectangle',
                height: '10px',
                width: '30px',
                id: '2',
                backgroundColor: '#a01e1e',
                cursor: 'pointer',
                label: {
                    text: '8001-12000',
                    fontColor: '#000',
                    fontSize: '9px',
                    offsetX: '-44px',
                    offsetY: '1px'
                },
                size: '10px',
                x: '90%',
                y: '6%'
            },
            {
                type: 'rectangle',
                height: '10px',
                width: '30px',
                id: '3',
                backgroundColor: '#b33c3c',
                cursor: 'pointer',
                label: {
                    text: '4001-8000',
                    fontColor: '#000',
                    fontSize: '9px',
                    offsetX: '-42px',
                    offsetY: '1px'
                },
                size: '10px',
                x: '90%',
                y: '9%'
            },
            {
                type: 'rectangle',
                height: '10px',
                width: '30px',
                id: '4',
                backgroundColor: '#bf5b5b',
                cursor: 'pointer',
                label: {
                    text: '2001-4000',
                    fontColor: '#000',
                    fontSize: '9px',
                    offsetX: '-42px',
                    offsetY: '1px'
                },
                size: '10px',
                x: '90%',
                y: '12%'
            },
            {
                type: 'rectangle',
                height: '10px',
                width: '30px',
                id: '5',
                backgroundColor: '#d07c7c',
                cursor: 'pointer',
                label: {
                    text: '1001-2000',
                    fontColor: '#000',
                    fontSize: '9px',
                    offsetX: '-42px',
                    offsetY: '1px'
                },
                size: '10px',
                x: '90%',
                y: '15%'
            },
            {
                type: 'rectangle',
                height: '10px',
                width: '30px',
                id: '6',
                backgroundColor: '#d89696',
                cursor: 'pointer',
                label: {
                    text: '201-1000',
                    fontColor: '#000',
                    fontSize: '9px',
                    offsetX: '-40px',
                    offsetY: '1px'
                },
                size: '10px',
                x: '90%',
                y: '18%'
            },
            {
                type: 'rectangle',
                height: '10px',
                width: '30px',
                id: '7',
                backgroundColor: '#e2b1b1',
                cursor: 'pointer',
                label: {
                    text: '1-200',
                    fontColor: '#000',
                    fontSize: '9px',
                    offsetX: '-32px',
                    offsetY: '1px'
                },
                size: '10px',
                x: '90%',
                y: '21%'
            },
            {
                type: 'rectangle',
                height: '10px',
                width: '30px',
                id: '8',
                backgroundColor: '#80c589',
                cursor: 'pointer',
                label: {
                    text: '0',
                    fontColor: '#000',
                    fontSize: '9px',
                    offsetX: '-22px',
                    offsetY: '1px'
                },
                size: '10px',
                x: '90%',
                y: '24%'
            }
        ]
    };
    zingchart.loadModules('maps,maps-ind');
    zingchart.render({
        id: 'india-map',
        data: chartConfig,
        height: '100%',
        width: '100%',
    });
</script>