<!--crowdsource.html-->

<!doctype html>
<html>
{{template "baseheader.html" .}}
<body>
<nav class="navbar fixed-top navbar-light bg-light" style="width: 100%;box-shadow: 0px 1px 7px 0px grey;">
    <div class="container">
        <a class="navbar-brand" href="/">
            <span class="badge badge-dark align-middle" style="font-size: 18px;">COVID-19</span>
            <span class="col-6 align-middle" style="font-size: 14px">{{.data.UpdateTime}}</span>
        </a>
        <div class="nav-item dropdown">
            <a class="navbar-toggler-icon" href="#" id="navbarDropdownMenuLink" role="button"
               data-toggle="dropdown"
               aria-haspopup="true" aria-expanded="false" style="padding-left: 0; padding-right: 0">
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" style="left: auto; right: -10px">
                <a class="dropdown-item" href="#state-wise">State Wise Status</a>
                <a class="dropdown-item" href="#donate-pm-cares">Donate to PM-CARES</a>
            </div>
        </div>
    </div>
</nav>
<div style="height: 50px"></div>
<br>
<div class="container">
    <div class="btn-group w-100" role="group" aria-label="source switch">
        <button type="button" class="btn btn-sm btn-outline-primary" onclick="changeSource()">Crowd Sourced</button>
        <button type="button" class="btn btn-sm btn-primary active-source">Ministry of Health</button>
    </div>
</div>
<br>
<div class="container">
    <div style="font-size: 18px; margin-bottom: 10px">Pan India Status</div>
    <div class="row align-items-center">
        <div class="col-12 col-md-6">
            <div class="table-responsive">
                <table class="table table-hover table-sm font-weight-light">
                    <tr class="table-warning">
                        <td>Total Cases</td>
                        <td>{{.data.Total}}</td>
                    </tr>
                    <tr class="table-active">
                        <td>Active COVID 2019 cases</td>
                        <td>{{.data.Active}}</td>
                    </tr>
                    <tr class="table-success">
                        <td>Cured/discharged cases</td>
                        <td>{{.data.Cured}}</td>
                    </tr>
                    <tr class="table-danger">
                        <td>Death</td>
                        <td>{{.data.Death}}</td>
                    </tr>
                    <tr class="table-info">
                        <td>Migrated COVID-19 Patient</td>
                        <td>{{.data.Migrated}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="col-12 col-md-6" style="padding: 0">
            <div id="india-map" class="chart--container"></div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row align-items-center">
        <div class="col-12 col-md-6">
            <canvas id="closed-cases" width="400" max-height="250"></canvas>
        </div>
    </div>
</div>
<br>
<div class="container" id="state-wise">
    <div class="row">
        <div class="col-6" style="font-size: 18px; padding-top: 5px">State wise Status
        </div>
        <div class="col-6 input-group input-group-sm">
            <input id="state-filter" class="form-control" placeholder="State Name" onkeyup="filterState()">
        </div>
    </div>
</div>
<div class="container">
    <div class="row" id="all-state" style="margin-top: 15px">
        {{ with .data.StateWise }}
            {{ range . }}
                <div class="col-12 col-md-6 col-lg-4 state-card" state="{{.Name}}">
                    <div class="card text-white bg-secondary mb-3 font-weight-light">
                        <div class="card-header font-weight-normal">
                            <span>{{.Name}}</span>
                            <span class="badge float-right font-weight-light"
                                  style="margin-top: 2px; background-color: #e23028">{{.Total}}</span>
                        </div>
                        <div class="card-body">
                            <div class="col-xs-12">
                                <table width="100%">
                                    <tr style="font-size: 14px">
                                        <td class="font-weight-normal">Active Cases</td>
                                        <td class="font-weight-normal float-right">{{.Active}}</td>
                                    </tr>
                                    <tr style="font-size: 14px">
                                        <td>Cured/Discharged</td>
                                        <td class="float-right">{{.LiveExit}}</td>
                                    </tr>
                                    <tr style="font-size: 14px">
                                        <td>Death</td>
                                        <td class="float-right">{{.Death}}</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer">
                            <div class="row">
                                <div class="col-4" style="padding-right: 0">Closed: {{.Closed}}</div>
                                <div class="col-4" style="padding-right: 0">Cured: {{.LivePercent}}</div>
                                <div class="col-4" style="padding-right: 0">Fatal: {{.FatalPercent}}</div>
                            </div>
                        </div>
                    </div>
                </div>
            {{ end }}
        {{end}}
    </div>
</div>
{{template "commonfooter.html" .}}
{{template "closedcase.html" .}}
{{template "map.html" .}}
</body>
</html>